.Text {
	font-family: 'pixel' !important;
    font-weight: 400 !important;
    font-size: 2.7em !important;
    margin-top: 10px;
}

img, .DOM {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
}

.buttons {
    position: absolute;
    z-index: 100;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
}

.buttons td {
    text-align: center;
    padding: 0;
}

.buttons img {
    width: 230px;
    height: auto;
}

.btn {
    /* Button */
    padding: 20px 70px;
    background: none;
    outline: none;
}

/* Death screen */

.btn--restart {
    opacity: 0;
    color: #000;
    transition: all 2s ease-in;
    animation: restart 1.5s ease-in 3.5s;
    animation-fill-mode: forwards;
    -webkit-font-smoothing: antialiased;
    font-size: 2.9em;
    font-family: 'ds';
    font-weight: 600;
    
    border: 2px solid darkred;
    border-radius: 10px;
    text-decoration: none;
    
    transition: all .1s linear;
}

.btn--restart:hover,
.btn--restart:active {
    background: darkred;
    color: #000 !important;
}

@keyframes restart {
    0% {
        opacity: 0;
        color: #000;
    } 100% {
        opacity: 1;
        color: darkred;
    }
}

.death-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
    transition: .5s ease-in; /*Скорость перехода состояния элемента*/
    animation: show 6s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s; /* Задержка перед началом */
}

@keyframes show {
    0% {
        opacity:0;
        transform: scale(.5);
    } 100% {
        opacity:1;
        transform: scale(1.0);
    }
}

.total_stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
    z-index: 10000;
    color: #000;
    opacity: 0;
    transition: all 2s ease-in;
    animation: score 2s ease-in 2.5s;
    animation-fill-mode: forwards;
    -webkit-font-smoothing: antialiased;
}

.total_label {
    font-family: 'ds';
    font-weight: 400;
    font-size: 2.7em;
}

@keyframes score {
    0% {
        opacity: 0;
        color: #000;
    } 100% {
        opacity: .8;
        color: #fff;
    }
}