img, .DOM {
    pointer-events: none;
    user-select:none;
}

.button-up{
    position: absolute;
    top:890px;
    left:40%;
}
.button-left{
    position: absolute;
    top:1100px;
    left:19%;
}
.button-right{
    position: absolute;
    top:1100px;
    left:61%;
}
.button-down{
    position: absolute;
    top:1310px;
    left:40%;
}
.button-enter{
    position: absolute;
    top:1100px;
    left:40%;
}
