.Text {
	font-family: 'pixel' !important;
    font-weight: 400 !important;
    font-size: 2.7em !important;
    margin-top: 10px;
}

img, .DOM {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    margin: 0;
}

.buttons {
    position: absolute;
    z-index: 100;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
}

.buttons td {
    text-align: center;
    padding: 0;
}

.buttons img {
    width: 230px;
    height: auto;
}
.death-screen{
    position: absolute;
    top:40%;
    left: 20%;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */
}
@keyframes show{
    0%{
        opacity:0;
        transform: scale(0.9);
    }
    100% {
        opacity:1;
        transform: scale(1.1);
    }
}